body{
    text-align: center;
    font-size: 20px;
}
.profile{
    width: 150px;
    border-radius: 50%;
}
#welcome{
    background: linear-gradient(#36d1dc 0%, #ffc371 100%);
    font-family:'Shantell Sans', cursive;
    padding-top: 60px;
}

.links{
    float: left;
    padding-top: 5px;
    padding-left: 63px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: 'Shantell Sans', cursive;
    font-size: 20px;
}
#name{
    font-family: 'Zeyada', cursive;
    font-size: 40px;
}
#contacto{
    background-color: aquamarine;
}
.contact_1 h3{
    display: inline;
    font-size: 30px;
}
#textos{
    font-size: 30px;
    padding-bottom: 30px;
}
.my_nav_bar{
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: aqua;
}